TiposDeMensajes=[PL_HANDSHAKE,PL_CONEXION_PERS,PL_PERSONAJE_REPETIDO,PL_POS_RECURSO,PL_OTORGA_TURNO,PL_CONFIRMACION_MOV,PL_MOV_PERSONAJE,PL_DESCONECTARSE_MUERTE,PL_MUERTO_POR_ENEMIGO,PL_MUERTO_POR_DEADLOCK,PL_CONFIRMACION_ELIMINACION,PL_NIVEL_YA_EXISTENTE,PL_NIVEL_INEXISTENTE,PL_SOLICITUD_RECURSO,PL_RECURSO_INEXISTENTE,PL_RECURSO_OTORGADO,PL_DESCONEXION_PERSONAJE,PL_LIBERA_RECURSOS,N_HANDSHAKE,N_CONEXION_EXITOSA,N_PERSONAJE_YA_EXISTENTE,N_CONFIRMACION_ELIMINACION,N_MUERTO_POR_ENEMIGO,N_PERSONAJES_DEADLOCK,N_ESTADO_PERSONAJE,N_POS_RECURSO,N_DATOS,N_ACTUALIZACION_CRITERIOS,N_ENTREGA_RECURSO,N_CONFIRMACION_MOV,N_PERSONAJE_INEXISTENTE,N_RECURSO_INEXISTENTE,N_BLOQUEADO_RECURSO,P_HANDSHAKE,P_MOVIMIENTO,P_POS_RECURSO,P_SIN_VIDAS,P_DESCONECTARSE_MUERTE,P_DESCONECTARSE_FINALIZADO,P_SOLICITUD_RECURSO,P_FIN_TURNO,P_FIN_PLAN_NIVELES,DESCONEXION,NO_SE_OBTIENE_RESPUESTA,NADA]